<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iiitd.mc.timetracker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:name=".ApplicationHelper"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewTaskActivity"
            android:label="@string/title_activity_new_task"
            android:parentActivityName=".BaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="iiitd.mc.timetracker.BaseActivity" />
        </activity>
        <activity
            android:name=".ListTasksActivity"
            android:label="@string/title_activity_list_tasks"
            android:parentActivityName=".BaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="iiitd.mc.timetracker.BaseActivity" />
        </activity>
        <activity
            android:name=".ListRecordingsActivity"
            android:label="@string/title_activity_list_recordings" >
        </activity>
        <activity
            android:name=".Statistics"
            android:label="@string/title_activity_statistics"
            android:parentActivityName=".BaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="iiitd.mc.timetracker.BaseActivity" />
        </activity>
        <activity
            android:name=".RunningActivity"
            android:label="@string/title_activity_running" >
        </activity>
        <service android:name=".data.TaskRecorderService" />
    </application>

</manifest>
